// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 1024.98px;
$media-lg-sm: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-blue-alpha: #2580ea;
$color-black-alpha: #363636;
$color-black-beta: #25364b;
$color-white-alpha: #ffffff;
$color-white-beta: #f9fcff;
$color-red-alpha: #f76863;
// Fonts
$font-primary: 'Gilroy', sans-serif;
