// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 1024.98px;
$media-lg-sm: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-black-alpha: #000;
$color-blue-alpha: #057ff1;
$color-gray-alpha: #7d7d7d;
$color-white-alpha: #ffffff;
$color-red-alpha: #f76863;
// Fonts
$font-primary: 'Roboto', sans-serif;
