doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="Ship inspection")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

      link(rel="stylesheet" href="assets/css/style.min.css")

      block title
        title Inspection
  body
    include ../mixins/common
    .page(style="background-image: url(assets/img/jpg/bg.jpg)")
      include header
      block header
        +header
      block content
    block scripts
      script(src='assets/js/main.js')
