.not-found {
  border-bottom: 1px solid $color-black-alpha;
}

.not-found__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14.6rem 0;

  @include media-tablet-lg {
    padding: 80px 0 60px;
  }

  @include media-tablet-sm {
    flex-direction: column;
  }

  @include media-phone-lg {
    padding: 50px 0;
  }
}

.not-found__title {
  margin-bottom: 2rem;

  text-transform: unset;
  font-size: 4rem;
  line-height: 1.2;

  @include media-phone-lg {
    font-size: 20px;
  }
}

.not-found__img {
  max-width: 63rem;

  @include media-tablet-lg {
    max-width: 415px;
  }
}

.not-found__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not-found__descrip {
  display: flex;
  flex-direction: column;

  max-width: 46rem;
  width: 100%;

  @include media-tablet-lg {
    margin-right: 0;
  }

  @include media-tablet-sm {
    align-items: center;

    margin-bottom: 50px;
  }
}

.not-found__content {
  margin-bottom: 4rem;
  margin-right: 20px;

  @include media-tablet-sm {
    text-align: center;
  }
}

.not-found__text {
  line-height: 1.5;
}
