extends common/layout

block content
  main.content(style="background-image: url(assets/img/jpg/bg.jpg)")
    .container
      .content__inner
        form#form-inspection.form(action="#" method="POST" name="inspection")
          .form__tab(data-tab="briefcases")
            .form__header
              .form__title
                p Briefcases
              button.form__header-button.form__header-button--right(type="button" data-tab-target="briefcases-answers") Answers
            .form__inner
              ul.form__cases
                li
                  .form__cases-img
                    img(src="assets/img/svg/case.svg", with="130", height="130", alt="")
                  .form__cases-content
                    .form__cases-header
                      p.form__cases-header-title Kourus
                      .form__text.form__text--sm
                        p 15.04.2022
                    .form__cases-descrip
                      p.form__cases-city Shenzhen
                      .form__text
                        p Site Visit
                        p Administration Nacional de Combustibles Alcohol y Portland (ACAP)
                      .form__cases-test
                        span Test:&nbsp;
                        .form__text
                          p do not used
                li
                  .form__cases-img
                    img(src="assets/img/svg/case.svg", with="130", height="130", alt="")
                  .form__cases-content
                    .form__cases-header
                      p.form__cases-header-title Kourus
                      .form__text.form__text--sm
                        p 15.04.2022
                    .form__cases-descrip
                      p.form__cases-city Shenzhen
                      .form__text
                        p Site Visit
                        p Administration Nacional de Combustibles Alcohol y Portland (ACAP)
                      .form__cases-test
                        span Test:&nbsp;
                        .form__text
                          p do not used
            .form__bot
              button.form__button.form__button--secondary(type="button" data-tab-target="briefcases-add") + Add
              button.form__button.form__button--circle(type="button")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 7L10.5 15L3 7" stroke="white" stroke-width="2"/>
                </svg>

          .form__tab(data-tab="briefcases-answers")
            .form__header
              button.form__header-button.form__header-button--left(type="button" data-tab-target="briefcases")
                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1L2 7.5L9 14" stroke="#057FF1" stroke-width="2"/>
                </svg>
                |Briefcases
              .form__title
                p Answers
            .form__inner
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Machinery status
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Steering Compartment
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Pilotage
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Accommodation
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Certification and Documentation
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Policies and Procedures
              .form__control.form__select.form__select--secondary(data-form-dropdown)
                ul.form__options-container(data-form-dropdown-container data-tab-target="answers-info")
                  li Are the following, where applicable, all in good order and do they appear to be well maintained?
                  li The main engine;
                  li Auxiliary engines and generators, including shaft g and emergency generators where fitted.
                  li Boilers, including waste heat and domestic boilers;
                  li Compressors including main, instrument and emergency air compressors;
                  li Compressors including main, instrument and emergency air compressors;
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/burger.svg", width="40", height="40", alt="")
                  span Stability ad Cargo Loading Limitations

          .form__tab(data-tab="briefcases-add")
            .form__header
              button.form__header-button.form__header-button--left(type="button" data-tab-target="briefcases")
                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1L2 7.5L9 14" stroke="#057FF1" stroke-width="2"/>
                </svg>
                |Briefcases
              .form__title
                p Add briefcase
            .form__inner
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container)
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="5")
                      |gea
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="6")
                      |kouros
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="7")
                      |kriton
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="8")
                      |lysias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="9")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="vessel[]" value="5")
                      |gea
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/vessel.svg", width="40", height="40", alt="")
                  span Vessels
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container)
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="5")
                      |gea
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="6")
                      |kouros
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="7")
                      |kriton
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="8")
                      |lysias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="9")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="port[]" value="5")
                      |gea
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/anchor.svg", width="40", height="40", alt="")
                  span Port
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container)
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="5")
                      |gea
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="6")
                      |kouros
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="7")
                      |kriton
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="8")
                      |lysias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="9")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="1")
                      |dromeas
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="2")
                      |estia
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="3")
                      |evridiki
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="4")
                      |fidias
                  .form__option(data-form-dropdown-option)
                    label
                      input(type="radio" name="inspection[]" value="5")
                      |gea
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/inspection.svg", width="40", height="40", alt="")
                  span Type of inspection
            .form__control
                input.form__input(type="text", name="inspection-name", placeholder="Inspection name", required)
            .form__bot.form__bot--justify-end
              button.form__button(type="submit" data-tab-target="briefcases") Continue

          .form__tab(data-tab="answers-info")
            .form__header
              button.form__header-button.form__header-button--left(type="button" data-tab-target="briefcases-answers")
                <svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 1L2 7.5L9 14" stroke="#057FF1" stroke-width="2"/>
                </svg>
                |Answers
              button.form__header-button.form__header-button--right(type="button" data-tab-target="information") Information
            .form__inner
              p.form__question Are the following, where applicable, all in good order and do they appear to be well maintained?
              .form__control
                input.form__input(type="date", name="date", required)
              .form__control
                textarea.form__input(name="message", maxlength="250") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .form__group
                .form__group.form__group--col.form__answer
                  p.form__answer-txt Answer:
                  label.form__checkbox-wrapper
                    input.form__checkbox(name="answer" type="radio" hidden required)
                    span.form__checkbox-styled
                    span.form__checkbox-txt Yes
                  label.form__checkbox-wrapper
                    input.form__checkbox(name="answer" type="radio" hidden required)
                    span.form__checkbox-styled
                    span.form__checkbox-txt No
                .form__group.form__group--col.form__buttons
                  button.form__button.form__button--secondary(type="button" data-tab-target="briefcases-add") + Add note
                  label.form__button.form__button--secondary
                    input.form__input(type="file" multiple="multiple" accept=".png, .jpg, .jpeg .gif" hidden name="files")
                    span.form__upload-button-txt + Add photo
            .form__bot.form__bot--justify-center
              button.form__button(type="submit") Save
