extends common/layout

block content
  main.content
    .container
      .content__inner
        #form-inspection.form
          .spinner
            div
            div
            div
            div

          //Sign-in
          .form__tab(data-tab="sign-in")
            .form__header
              .form__title.form__title--wide
                p Sign in to your account
            .form__inner
              span.form__error(data-tab-error) Incorrect login or password
              .form__control
                input.form__input(type="text", value="ilia@mail.ru", name="login", placeholder="Login", required)
              .form__control
                input.form__input(type="password", value="12345", name="password", placeholder="Password", required)
            .form__bot.form__bot--justify-end
              button.form__button.form__button--media-wide(type="button" data-tab-target="briefcases" data-tab-submit) Sign in

          //Briefcases
          .form__tab(data-tab="briefcases")
            .form__header
              button.form__header-button.form__header-button--next(type="button" data-tab-target="answers-briefcases") Answers
              .form__title
                p Briefcases
            .form__inner.form__inner--fixed-height
              ul.form__cases(data-tab-target="categories" data-briefcases-list)
            .form__bot
              button.form__button.form__button--secondary(type="button" data-tab-target="briefcases-add" data-tab-submit) + Add

          //Briefcases-add
          .form__tab(data-tab="briefcases-add")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="briefcases") Briefcases
              .form__title
                p Add briefcase
            .form__inner
              span.form__error(data-tab-error) Fill in the required data
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container data-dropdown-vessels)
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/vessel.svg", width="40", height="40", alt="")
                  span Vessels
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container data-dropdown-ports)
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/anchor.svg", width="40", height="40", alt="")
                  span Port
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container data-dropdown-inspections-source)
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/inspection-source.svg", width="40", height="40", alt="")
                  span Inspection source
              .form__control.form__select(data-form-dropdown)
                .form__options-container(data-form-dropdown-container data-dropdown-inspections-type)
                .form__option-selected.form__input(data-form-dropdown-selected)
                  img(src="assets/img/svg/inspection.svg", width="40", height="40", alt="")
                  span Inspection type
            .form__control
                input.form__input(type="text", name="inspection-name", placeholder="Inspection name", required)
            .form__bot.form__bot--justify-end
              button.form__button.form__button--media-wide(type="button" data-tab-target="briefcases" data-tab-submit) Continue

          //Categories
          .form__tab(data-tab="categories")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="briefcases") Briefcases
              .form__title
                p Categories
            .form__inner.form__inner--fixed-height
              ul.form__items(data-tab-categories data-tab-target="questions" data-tab-submit)

          //Questions
          .form__tab(data-tab="questions")
            .form__header.form__header--margin-sm
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="categories") Categories
            .form__title.form__title--margin-sm
              p Machinery status
            .form__inner.form__inner--fixed-height
              ul.form__items.form__items--iconless(data-tab-questions)
            .form__bot
              button.form__button.form__button--secondary(type="button" disabled data-tab-target="answers-info" data-tab-open-questions) Open questions >

          //Answers-briefcases
          .form__tab(data-tab="answers-briefcases")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="briefcases") Briefcases
              .form__title
                p Answers
            .form__inner.form__inner--fixed-height
              ul.form__cases(data-tab-target="answers" data-briefcases-list)

          //Answers
          .form__tab(data-tab="answers")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="answers-briefcases") Briefcases
              .form__title
                p Answers
            .form__inner.form__inner--fixed-height(data-tab-answers)

          //Answers-info
          .form__tab(data-tab="answers-info")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="answers") Answers
              button.form__header-button.form__header-button--next(type="button" data-tab-target="info") Information
            .form__inner
              p.form__question
              span.form__error(data-tab-error) Fill in the required data
              .form__control
                input.form__input(type="date", name="date", required)
              .form__control
                textarea.form__input(name="comment" placeholder="Comment")
              .form__group
                .form__group.form__group--col.form__answers
                  .form__group.form__group--col.form__answers-item(data-tab-answer)
                    p.form__answer-txt Answer:
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="answer" type="radio" value="yes" hidden required)
                      span.form__checkbox-styled
                      span.form__checkbox-txt Yes
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="answer" type="radio" value="no" hidden required)
                      span.form__checkbox-styled
                      span.form__checkbox-txt No
                  .form__group.form__group--col.form__answers-item(data-tab-significant)
                    p.form__answer-txt Significant:
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="significant" type="radio" value="high" hidden required)
                      span.form__checkbox-styled
                      span.form__checkbox-txt High
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="significant" type="radio" value="medium" hidden required)
                      span.form__checkbox-styled
                      span.form__checkbox-txt Medium
                    label.form__checkbox-wrapper
                      input.form__checkbox(name="significant" type="radio" value="low" hidden required)
                      span.form__checkbox-styled
                      span.form__checkbox-txt Low
                .form__group.form__group--col.form__buttons
                  label.form__button.form__button--secondary(data-tab-photo-button)
                    input.form__input(type="file" multiple="multiple" accept=".png, .jpg, .jpeg .gif" hidden name="photo")
                    span.form__upload-button-txt + Add photo
                  .form__img-preview(data-tab-img-preview)
            .form__bot.form__bot--justify-center
              button.form__button.form__button--media-wide(type="button" data-tab-target="briefcases" data-tab-submit) Save

          //Info
          .form__tab(data-tab="info")
            .form__header
              button.form__header-button.form__header-button--prev(type="button" data-tab-target="answers-info") Question
              .form__title
                p Information
            .form__inner
              .form__text
