extends common/layout

block content
  main.content(style="background-image: url(assets/img/jpg/bg.jpg)")
    .container
      .content__inner
        form.form(action="#" method="POST" name="signin")
          .form__tab.active
            .form__header
              .form__title.form__title--wide
                p Sign in to your account
            .form__inner
              .form__control
                input.form__input(type="text", name="login", placeholder="Login", required)
              .form__control
                input.form__input(type="password", name="password", placeholder="Password", required)
            .form__bot.form__bot--justify-end
              button.form__button(type="submit") Sign in
