.burger {
  align-items: center;
  justify-content: center;

  z-index: 10;

  display: flex;

  width: 40px;
  height: 30px;

  span {
    position: relative;

    width: 40px;
    height: 3px;

    background-color: $color-black-alpha;
  }

  span::before,
  span::after {
    position: absolute;

    width: 100%;
    height: 3px;

    background-color: inherit;
  }

  span {
    &::before,
    &::after {
      display: block;

      content: '';
      transition: transform 0.15s;
    }

    &::before {
      transform: translateY(-10px);
    }

    &::after {
      transform: translateY(10px);

      width: 25px;

      right: 0;
    }
  }

  &.active {
    span {
      height: 0;

      background-color: $color-white-alpha;

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);

        width: 100%;
      }
    }
  }
}
