.content {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 11.6rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
