.content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media-tablet-sm {
  }
}

.content__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
