.form {
  position: relative;

  max-width: 64rem;
  width: 100%;

  overflow: hidden;
}

.form__tab {
  padding: 7rem 7rem 5.4rem;

  box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.15);
  background-color: $color-white-alpha;

  animation: fade 0.2s ease-in-out forwards;

  &.active {
    animation: slide 0.2s 0.1s ease-in-out both;
  }

  &.hidden {
    display: none;
  }
}

.form__inner {
  margin-bottom: 2rem;
}

.form__text {
  color: $color-gray-alpha;

  &--sm {
    font-size: 14px;
  }
}

.form__title {
  grid-column: 2 / 3;

  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;

  p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @include media-tablet-lg {
    font-size: 20px;
  }
}

.form__cases-header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  &-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
  }
}

.form__button {
  display: block;
  max-width: fit-content;

  padding: 1em 2.75em;

  color: $color-white-alpha;
  font-size: 2rem;

  background-color: $color-black-alpha;
  border: 1px solid;

  transition: background-color 0.1s linear, color 0.1s linear;

  &:hover {
    background-color: lighten($color-black-alpha, 15);
    color: $color-white-alpha;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &--secondary {
    padding: 0.65em 2.2em;

    background-color: $color-white-alpha;
    color: $color-black-alpha;
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    min-height: 45px;
    min-width: 45px;

    border-radius: 50%;
  }
}

.form__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  margin-bottom: 4rem;
}

.form__cases {
  li {
    display: flex;

    border: 1px solid $color-black-alpha;
    padding: 15px 20px;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.form__cases-city {
  font-weight: 700;
}

.form__cases-img {
  max-width: 13rem;
  margin-right: 20px;
}

.form__cases-descrip {
  line-height: 1.3;

  p {
    margin-bottom: 5px;
  }
}

.form__cases-test {
  display: flex;

  p {
    margin-bottom: 0;
  }
}

.form__header-button {
  color: $color-blue-alpha;
  text-decoration: underline;

  &--left {
    justify-self: flex-start;
  }

  &--right {
    justify-self: flex-end;
  }
}

.form__links {
  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  a {
    color: $color-gray-alpha;
    line-height: 1;

    border-bottom: 1px solid;

    transition: color 0.1s linear;

    &:hover {
      color: $color-black-alpha;
    }
  }
}

.form__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__control {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.form__input,
.form__placeholder,
.form__option-selected {
  position: relative;

  width: 100%;

  z-index: 1;

  line-height: 1.5;

  padding: 1.05em;

  background-color: $color-white-alpha;
  border: 1px solid $color-black-alpha;
}

.form__input {
  &.error {
    border-color: $color-red-alpha;
    color: $color-red-alpha;

    &::placeholder {
      color: $color-red-alpha;
    }
  }
}

.form__option-selected {
  &.error {
    color: $color-red-alpha;
    border-color: $color-red-alpha;
  }
}

.form__placeholder {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-right: 108px;

  span {
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20.6rem;
  }

  & + .form__upload-button {
    bottom: 16px;

    @include media-phone-lg {
      top: 2px;
    }
  }

  @include media-desktop {
    span {
      max-width: 150px;
    }
  }

  @include media-phone-lg {
    span {
      max-width: 50vw;
    }
  }
}

textarea.form__input {
  @include element-scroll;

  display: block;
  resize: none;
  min-height: 19rem;
  padding-bottom: 60px;

  @include media-phone-lg {
    min-height: 200px;
  }
}

.form__group {
  display: flex;
  justify-content: space-between;
  grid-area: auto / 1 / auto / 3;

  @include media-phone-lg {
    grid-area: auto;

    flex-direction: column;
  }
}

.form__checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  input[hidden] {
    display: block;

    position: absolute;

    top: 13px;
    left: 15px;

    opacity: 0;
  }

  a {
    color: $color-black-alpha;

    border-bottom: 1px solid;
  }

  &--dark {
    .form__checkbox-styled {
      border: 2px solid $color-black-alpha;
    }

    .form__checkbox-txt {
      color: $color-black-alpha;
    }

    .form__checkbox-styled::before {
      background: $color-red-alpha;
    }

    a {
      color: $color-red-alpha;

      border-bottom: 1px solid;
    }
  }
}

.form__checkbox-styled {
  position: relative;
  display: inline-block;
  margin-right: 2rem;
  min-width: 33px;
  min-height: 33px;
  border: 2px solid $color-white-alpha;
}

.form__checkbox-txt {
  user-select: none;
  font-size: 14px;
  color: $color-white-alpha;
  line-height: 1.14;
  max-width: 32rem;
  width: 100%;
}

.form__checkbox-styled::before {
  background: $color-black-alpha;
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  transition: opacity 0.1s linear;
}

.form__checkbox:checked + .form__checkbox-styled::before {
  opacity: 1;
}

.form__upload-button {
  position: absolute;

  z-index: 1;

  cursor: pointer;

  bottom: 20px;
  right: 20px;

  @include media-tablet-sm {
    bottom: 14px;
  }

  &-txt {
    display: flex;
    align-items: center;

    span {
      border-bottom: 1px solid;
      color: $color-black-alpha;
      margin-right: 10px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.form__select {
  display: flex;
  flex-direction: column;
}

.form__option {
  &.active {
    font-weight: 600;
  }

  label {
    cursor: pointer;
    font-size: 14px;
  }

  input {
    display: none;
  }
}

.form__options-container {
  @include element-scroll;

  position: absolute;

  z-index: 3;

  top: calc(100% - 5px);
  left: 4px;

  max-height: 273px;
  width: 100%;

  padding: 5px 0;

  background: $color-white-alpha;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

  opacity: 0;
  overflow: hidden;
  pointer-events: none;

  order: 1;

  transition: opacity 0.1s ease-in-out;

  &.active {
    opacity: 1;
    overflow-y: auto;
    pointer-events: all;

    & + .form__option-selected::after {
      transform: rotateX(180deg) translateY(50%);
    }
  }
}

.form__option-selected {
  position: relative;

  background: $color-white-alpha;

  z-index: 1;

  font-weight: 600;

  order: 0;

  &::after {
    content: '';
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    height: 18px;
    width: 19px;
    right: 11px;

    transform: translateY(-50%);

    transition: transform 0.4s;
  }
}

.form__option,
.form__option-selected {
  cursor: pointer;
  user-select: none;
}

.form__option {
  padding: 5px 25px;
  line-height: normal;

  transition: color 0.1s linear;

  &:hover {
    color: $color-red-alpha;
  }

  @include media-tablet-lg {
    padding: 6px 25px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
