.title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: $color-white-alpha;
  font-weight: 700;
  line-height: 1.5;



  h1,
  h2,
  h3 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @include media-tablet-lg {
    font-size: 20px;
  }
}
